<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Current leaderBoard </h1>


    <table border = "1">
         <tr>
            <th>Name</th>
            <th>Submissions</th>
         </tr>

         <%for(var i = 0 ;i<list.length;i++){%>
           <tr><%= list[i].userName %></tr>
           <tr><%= list[i].submissions %></tr>
         <%}%>



      </table>






    <a href="/">Back to Home Page </a>
  </body>
</html>
