<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Current leaderBoard </h1>


    <table style="width:100%">
         <tr>
            <td><b>Name</b></td>
            <td><b>Submissions</b></td>
         </tr>

         <% for(var i=0;i<list.length;i++){ %>
           <tr>
           <td><%= list[i].userName %></td>
           <td><%= list[i].submissions %></td>
         </br>
         </tr>
         <%}%>



      </table>

    </br>






    <a href="/">Back to Home Page </a>
  </body>
</html>
