<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Thanks <%message.fname %> for submitting <%message.subcount %> questions. </h1>
  </br>
  <a href="/">Home Page</a>


  </body>
</html>
